deepdish==0.3.6
deeplift==0.6.13.0
deepTools==3.4.3
gimmemotifs==0.15.3
h5py==2.10.0
hdf5plugin==3.3.1
Keras==2.2.4
modisco @ git+https://github.com/kundajelab/tfmodisco.git@d1fdb21ed0c8b4e33c835be29955a8426a422693
pandas==1.2.3
pyBigWig==0.3.17
pyfaidx 
pysam==0.16.0.1
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
tensorflow-probability==0.7.0
tqdm
